@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #0e0e0e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-main: var(--font-custom);
  --font-helvitica: var(--font-helvitica);
  --font-social: var(--font-social);
  --font-futura: var(--font-futura);
  --font-outfit: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #ededed;
  }
}
.invert-svg {
  mix-blend-mode: difference;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--font-outfit), Arial, Helvetica, sans-serif;
}

