@import "tailwindcss";

:root {
  --background: #0e0e0e;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-main: var(--font-custom);
  --font-helvitica: var(--font-helvitica);
  --font-social: var(--font-social);
  --font-futura: var(--font-futura);
  --font-outfit: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--font-outfit), Arial, Helvetica, sans-serif;
}


@layer utilities {
  .navitems-span {
    @apply text-[10px] sm:text-xs font-social text-start w-full text-[#a8c256]
  }
}

/* lenis provider css  */

/* Add to your global CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

